extends index.pug
block shop
	form(method="PUT", data-shop=shop, data-user=user._id)
		.d-flex.flex-column.justify-content-center
			p To submit a purchase input next code:
			p= code
			input#userCode(type="text")
			input(type="submit", value="Submit a purchase")
			p#error
	script 
		include ../scripts/transaction.js